<p style="text-align:center">
	{% trans %}Most recent:{% endtrans %}
</p>
<table class="modlog" style="width:700px;margin:auto">
	<tr>
		<th>{% trans %}Board{% endtrans %}</th>
		<th>{% trans %}Thread{% endtrans %}</th>
		<th>{% trans %}Hash (SHA1){% endtrans %}</th>
		<th>{% trans %}Created{% endtrans %}</th>
		<th>{% trans %}Expires{% endtrans %}</th>
		<th>{% trans %}Passed{% endtrans %}</th>
	</tr>
	{% for hash in recent %}
		<tr>
			<td>{{ config.board_abbreviation|format(hash.board) }}</td>
			<td>
				{% if hash.thread > 0 %}
					{{ hash.thread }}
				{% elseif hash.thread < 0 %}
					Index (page {{ - hash.thread }})
				{% else %}
					-
				{% endif %}
			</td>
			<td>
				<small><code>{{ hash.hash }}</code></small>
			</td>
			<td>
				<span title="{{ hash.created|strftime(config.post_date) }}">{{ hash.created|ago }} {% trans %}ago{% endtrans %}</span>
			</td>
			<td>
				{% if hash.expires %}
					<span title="{{ hash.expires|strftime(config.post_date) }}">
						{% if hash.expires < time() %}
							{{ hash.expires|ago }} ago
						{% else %}
							{{ hash.expires|until }}
						{% endif %}
					</span>
				{% else %}
					-
				{% endif %}
			</td>
			<td>{{ hash.passed }}</td>
		</tr>
	{% endfor %}
</table>
<p style="text-align:center">
	{% trans %}Most used (in active):{% endtrans %}
</p>
<table class="modlog" style="width:700px;margin:auto">
	<tr>

		<th>{% trans %}Board{% endtrans %}</th>
		<th>{% trans %}Thread{% endtrans %}</th>
		<th>{% trans %}Hash (SHA1){% endtrans %}</th>
		<th>{% trans %}Created{% endtrans %}</th>
		<th>{% trans %}Expires{% endtrans %}</th>
		<th>{% trans %}Passed{% endtrans %}</th>
	</tr>
	{% for hash in top %}
		<tr>
			<td>{{ config.board_abbreviation|format(hash.board) }}</td>
			<td>
				{% if hash.thread > 0 %}
					{{ hash.thread }}
				{% elseif hash.thread < 0 %}
					Index (page {{ - hash.thread }})
				{% else %}
					-
				{% endif %}
			</td>
			<td>
				<small><code>{{ hash.hash }}</code></small>
			</td>
			<td>
				<span title="{{ hash.created|strftime(config.post_date) }}">{{ hash.created|ago }} {% trans %}ago{% endtrans %}</span>
			</td>
			<td>
				{% if hash.expires %}
					<span title="{{ hash.expires|strftime(config.post_date) }}">
						{% if hash.expires < time() %}
							{{ hash.expires|ago }} ago
						{% else %}
							{{ hash.expires|until }}
						{% endif %}
					</span>
				{% else %}
					-
				{% endif %}
			</td>
			<td>{{ hash.passed }}</td>
		</tr>
	{% endfor %}
</table>
<p style="text-align:center">
	{% trans %}Total: <strong>{{ total }}</strong> (<strong>{{ expiring }}</strong> set to expire){% endtrans %}
</p>
<form method="post" action="?/debug/antispam">
	<table class="modlog" style="width:1%;white-space:nowrap;margin:auto">
		<tr>
			<th>{% trans %}Board{% endtrans %}</th>
			<th>{% trans %}Thread{% endtrans %}</th>
			<th></th>
		</tr>
		<tr>
			<td>
				<input type="text" name="board" style="width:90px" value="{{ board }}">
			</td>
			<td>
				<input type="text" name="thread" style="width:90px" value="{{ thread }}">
			</td>
			<td>
				<input type="submit" name="filter" value="{% trans %}Filter{% endtrans %}">
				<input type="submit" name="purge" value="{% trans %}Purge{% endtrans %}">
			</td>
		</tr>
	</table>
</form>
