<a href="
    {{ post.file|extension in ['webm', 'mp4', 'mp3', 'ogg'] 
        ? config.root ~ 'player.php?v=' ~ (shadow ? config.uri_shadow_img : config.uri_img) ~ post.file ~ (config.show_filename ? '&amp;t=' ~ post.filename|e('url') : '')
        : (shadow ? config.uri_shadow_img : config.uri_img) ~ post.file }}"
   target="_blank"
   class="{{ post.thumb == 'file' or post.modifiers['is_file'] == '1' or post.filename|extension in ['webm', 'mp4', 'mp3', 'ogg'] ? 'file' : '' }}"
>
    {% if post.thumb|extension in ['webm', 'mp4'] %}
        <video class="post-image" 
               src="{{ shadow ? config.uri_shadow_img : config.uri_img }}{{ post.thumb }}" 
               poster="{{ config.root ~ config.file_thumb|format(config.file_icons[post.filename|extension]|default(config.file_icons.default)) }}"
               style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px"
               {{ config.content_loading_lazy ? 'loading=lazy' : '' }}>
        </video>
    {% else %}
        <img class="post-image"
             src="{{ post.thumb == 'file' 
                ? config.root ~ config.file_thumb|format(config.file_icons[post.filename|extension]|default(config.file_icons.default))
                : post.thumb == 'spoiler' 
                    ? config.root ~ config.spoiler_image 
                    : (shadow ? config.uri_shadow_thumb : config.uri_thumb) ~ post.thumb }}"
             style="width:{{ post.thumbwidth }}px;height:{{ post.thumbheight }}px"
             {{ config.content_loading_lazy ? 'loading=lazy' : '' }} />
    {% endif %}
</a>
