<script src='/js/jquery.tablesorter.min.js?v={{ config.resource_version }}'></script>

{% if config.mod_archive.threads and mod and mod|hasPermission(config.view_mod_archive) %}
	<p style="text-align: center">
		<a id="unimportant" href="{{ mod ? config.file_mod ~ '?' : '' }}{{ config.root }}{{ board.dir }}{{ config.dir.mod_archive }}">[{% trans %}View Mod Archive{% endtrans %}]</a>
	</p>
{% endif %}

{% if config.feature.threads %}
	<p style="text-align: center">
		<a id="unimportant" href="{{ mod ? config.file_mod ~ '?' : '' }}{{ config.root }}{{ board.dir }}{{ config.dir.featured }}">[{% trans %}Featured Thread Archive{% endtrans %}]</a>
	</p>
{% endif %}

<p style="text-align: center">
	<strong>
		{% trans %}Displaying{% endtrans %} {{ thread_count }} {% trans %}expired threads{% endtrans %}
		{% if config.archive.lifetime %} {% trans %}from the past{% endtrans %} {{ config.archive.lifetime }}{% endif %}
	</strong>
	<br/>
	<small>{% trans %}Vote for a thread to be added to the featured archive{% endtrans %}</small>
</p>

<table id="archive-list" class="archive-list modlog tablesorter">
	<thead>
		<tr>
			<th width='80px'>{% trans %}Post #{% endtrans %}</th>
			<th>{% trans %}Snippet{% endtrans %}</th>
			<th width='50px'>&nbsp;</th>
			<th width='50px'>{% trans %}Votes{% endtrans %}</th>
			{% if mod and mod|hasPermission(config.mod.feature_archived_threads, board.uri) %}
				<th width='80px'>&nbsp;</th>
			{% endif %}
			{% if mod and mod|hasPermission(config.mod.add_to_mod_archive, board.uri) %}
				<th width='80px'>&nbsp;</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for thread in archive %}
			<tr>
				<td data-sort-value="{{ thread.id }}">{{ thread.id }}</td>
				<td data-sort-value="{{ thread.snippet }}">{{ thread.snippet }}</td>
				<td><a href="{{ thread.archived_url }}">[{% trans %}View{% endtrans %}]</a></td>
				<td>
					{% if not mod %}
						{% if not thread.featured %}
							{{ thread.votes }}
							<form action="{{ config.post_url }}" method="post" class="archiveForm" style="float: right">
								<input type="hidden" name="board" value="{{ board.uri }}">
								<input type="hidden" name="thread_id" value="{{ thread.id }}">
								<input type="hidden" name="archive_vote" value="1">
								<a href="#" class="vote-link" data-confirm-message="{% trans %}Press OK to vote for this thread to be added to featured archive.{% endtrans %}">[+]</a>
							</form>
						{% else %}
							<strong>{% trans %}Featured{% endtrans %}</strong>
						{% endif %}
					{% else %}
						{{ thread.votes }}
					{% endif %}
				</td>
				{% if mod and mod|hasPermission(config.mod.feature_archived_threads, board.uri) %}
					<td>
						{% if not thread.featured %}
							<form action="" method="post" class="archiveForm">
								<input type="hidden" name="token" value="{{ token }}">
								<input type="hidden" name="id" value="{{ thread.id }}">
								<input type="hidden" name="feature" value="1">
								<a href="#" class="vote-link" 
									data-confirm-message="{% trans %}Are you sure you want to add thread to featured archive?{% endtrans %}">[{% trans %}Feature{% endtrans %}]</a>
							</form>
						{% else %}
							<strong>{% trans %}Featured{% endtrans %}</strong>
						{% endif %}
					</td>
				{% endif %}
				{% if mod and mod|hasPermission(config.mod.add_to_mod_archive, board.uri) %}
					<td>
						{% if not thread.mod_archived %}
							<form action="" method="post" class="archiveForm">
								<input type="hidden" name="token" value="{{ token }}">
								<input type="hidden" name="id" value="{{ thread.id }}">
								<input type="hidden" name="mod_archive" value="1">
								<a href="#" class="vote-link" 
									data-confirm-message="{% trans %}Are you sure you want to add thread to mod archive?{% endtrans %}">[{% trans %}Mod Archive{% endtrans %}]</a>
							</form>
						{% else %}
							<strong>{% trans %}Mod Archived{% endtrans %}</strong>
						{% endif %}
					</td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>