<script type="text/javascript">
	var active_page = 'mod';
</script>
<script src="{{ config.additional_javascript_url }}js/mod/recent-posts.js"></script>
<script src="js/id_colors.js"></script>
{% if not posts|length %}
	<p style="text-align:center" class="unimportant">({% trans 'There are no active posts.' %})</p>
{% else %}
<h4>{% trans %}Viewing last{% endtrans %} {{ limit|e }} {% trans %}posts{% endtrans %}</h4>
	<p>{% trans %}View {% endtrans %}<a href="?/recent{{ shadow ? '_shadow' : '' }}/25"> 25 </a>|<a href="?/recent{{ shadow ? '_shadow' : '' }}/50"> 50 </a>|<a href="?/recent{{ shadow ? '_shadow' : '' }}/100"> 100 </a></p>
	<a href="javascript:void(0)" id="erase-local-data" style="float:right; clear:both">{% trans %}Erase local data{% endtrans %}</a></div>
	{% for post in posts %}
		{% if not post.thread %}
			{% set thread = post.id %}
		{% else %}
			{% set thread = post.thread %}
		{% endif %}
		<div class="post-wrapper" data-board="{{ post.board }}"><hr/><a class="eita-link" id="eita-{{ post.board }}-{{ thread }}" href="?/{{ post.board }}/{{ config.dir.res }}{{ thread }}.html#{{ post.id }}">/{{ post.board }}/{{ post.id }}</a><br>
			{{ post.built }}
		</div>
	{% endfor %}
{% endif %}
<a href="{{ config.root }}mod.php?/recent{{ shadow ? '_shadow' : '' }}/{{ limit|e }}&amp;last={{ last_time|e }}">{% trans %}Next{% endtrans %} {{ limit }} {% trans %}posts{% endtrans %}</a>
