<a href="?/minecraft_whitelist/0">{% trans 'Show only denied' %}</a>&nbsp;&nbsp;|
<a href="?/minecraft_whitelist/1">{% trans 'Show only approved' %}</a>&nbsp;&nbsp;|
<a href="?/minecraft_whitelist/2">{% trans 'Show only pending' %}</a>&nbsp;&nbsp;|
<a href="?/minecraft_whitelist/4">{% trans 'Show only deleted' %}</a>&nbsp;&nbsp;|
<a href="?/minecraft_whitelist/">{% trans 'Show all' %}</a>
<fieldset style="margin-top: 15px;">
	<legend><strong>{% trans %}All Whitelist Entries{% endtrans %}</strong></legend>
	<table class="modlog">
		<thead>
			<th>IP</th>
			<th>{% trans 'Username' %}</th>
			<th>{% trans 'Status' %}</th>
			<th>{% trans 'Actions' %}</th>
		</thead>
		<tbody>
			{% for i in list %}
				<tr>
					<td>{{ i.ip }}</td>
					<td>{{ i.username|e }}</th>
					{% if i.approved == 0 %}
						<td>{% trans 'Not Allowed' %}</td>
					{% elseif i.approved == 1 %}
						<td>{% trans 'Approved' %}</td>
					{% elseif i.approved == 5 %}
						<td>{% trans 'Deleted' %}</td>
					{% else %}
						<td>{% trans 'Pending' %}</td>
					{% endif %}
					<td class="minimal">
						<a href="?/change_minecraft/{{ i.username|url_encode(true) }}/5"><small>[{% trans 'remove' %}]</small></a>
					    <a href="?/change_minecraft/{{ i.username|url_encode(true) }}/0"><small>[{% trans 'deny' %}]</small></a>
					    <a href="?/change_minecraft/{{ i.username|url_encode(true) }}/1"><small>[{% trans 'approve' %}]</small></a>
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
</fieldset>
{#
<fieldset>
	<legend>{% trans %}Actions{% endtrans %}</legend>
	<form action="?/change_minecraft" method="POST" style="margin-bottom: unset;"">
		<input type="hidden" name="token" value="{{ security_token }}">
		<input type="text" placeholder="username" name="username"/> 
		<select name="update_manual">
		<option value="">{% trans %}Choose the status{% endtrans %}</option>
		<option value="0">{% trans 'deny' %}</option>
		<option value="1">{% trans 'approve' %}</option>
		</select>	
		<input type="submit" value="{% trans %}Submit{% endtrans %}" name="submit" />
	</form>
</fieldset>#}